<div class="row" xmlns:th="http://www.thymeleaf.org">
    <hr/>
    <div class="col-12 p-0">
        <div class="mt-2 mb-2 text-break font-weight-bold">
            Dies ist ein Test
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12 p-0">
        <form id="opForm" xmlns:th="http://www.thymeleaf.org" onsubmit="return false;" enctype="multipart/form-data">
            <input type="hidden" id="opId" name="opId" th:value="${opId}">
            <input type="hidden" id="withKonnektor" name="withKonnektor" th:value="false">
            <div class="row">
                <div class="col-12 col-lg-12">
                    <div class="form-group needs-validation">
                      <label for="name">Bitte geben Sie Ihren Namen ein:</label>
                      <input type="text" id="name" name="name">
                    </div>
                </div>
            </div>
            <div class="container-fluid p-0 mb-2">
              <div class="row justify-content-start">
                <div class="col-12 col-md-6 col-lg-3">
                  <button class="btn btn-primary btn-block" onclick="pipelineoperationtestOpAusfuehren()">Ausführen</button>
                </div>
              </div>
            </div>
            <div class="mt-2 mb-2 text-break" role="alert" style="display:none" id="opFormResult">
            </div>
            <div class="alert alert-danger mt-2 mb-2 text-break" role="alert" style="display:none" id="opFormError">
            </div>
        </form>
    </div>
</div>
