<div class="row" xmlns:th="http://www.thymeleaf.org">
    <hr/>
    <div class="col-12 p-0">
        <div class="mt-2 mb-2 text-break font-weight-bold">
            Mit dieser Operation können Sie Mails über das OpenKIM-POP3-Gateway empfangen. Wenn Sie keine UUID eingeben, werden die möglichen UUID's
            ausgelesen und Ihnen als Log angezeigt. Dann können Sie die Mail mit einer nochmaligen Eingabe der passenden UUID empfangen.
        </div>
        <div class="mt-2 mb-2 text-break font-weight-bold" th:if="${gatewayTIMode.name() == 'NO_TI'}">
          Die Gateways sind im Betriebsmodus "Konnektor wird NICHT benutzt und es wird mit Internet/Intranet-Mailservern gearbeitet" eingestellt.
          Der Nutzername muss komplexer aufgebaut sein - Bsp.: kim-test@sberg.net#mail.routing.net:995.
          Wie aus dem KIM-Umfeld bekannt, wird hier der Mailserver und Port codiert.
        </div>
        <div class="mt-2 mb-2 text-break font-weight-bold" th:if="${gatewayTIMode.name() == 'KONNEKTOR'}">
          Die Gateways sind im Betriebsmodus "Konnektor wird benutzt. Ansonsten kann wird mit Internet/Intranet-Mailservern gearbeitet" eingestellt.
          Der Nutzername muss komplexer aufgebaut sein - Bsp.: kim-test@sberg.net#mail.routing.net:465.
          Wie aus dem KIM-Umfeld bekannt, wird hier der Mailserver und Port codiert.
        </div>
        <div class="mt-2 mb-2 text-break font-weight-bold" th:if="${gatewayTIMode.name() == 'FULLSTACK'}">
          Die Gateways sind im Betriebsmodus "Konnektor + KIM-Fachdienste werden benutzt" eingestellt.
          Der Nutzername muss, wie in der KIM-Spezifikation erklärt, komplexer aufgebaut sein - Bsp.: kim-test@tm.kim.telematik#mail.tm.kim.telematik:465.
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12 p-0">
        <form id="opForm" xmlns:th="http://www.thymeleaf.org" onsubmit="return false;" enctype="multipart/form-data">
            <input type="hidden" id="opId" name="opId" th:value="${opId}">

            <input th:if="${gatewayTIMode.name() == 'NO_TI'}" type="hidden" id="withKonnektor" name="withKonnektor" th:value="false">
            <div class="form-group needs-validation" th:if="${gatewayTIMode.name() != 'NO_TI'}">
              <label for="konnektorId">Auswahl des Konnektors</label>
              <select class="form-control" id="konnektorId" name="konnektorId" required>
                <option th:each="konn : ${konnektoren}" th:value="${konn.uuid}" th:text="${konn.ip}"></option>
              </select>
              <div class="invalid-feedback">
                Bitte angeben!
              </div>
            </div>
            <div class="form-group needs-validation">
              <label for="userName">Bitte geben Sie den Nutzernamen ein (Bsp.: kim-test@sberg.net#mail.routing.net:995):</label>
              <input type="text" id="userName" name="userName" class="form-control" required>
              <div class="invalid-feedback">
                Bitte angeben!
              </div>
            </div>
            <div class="form-group needs-validation">
              <label for="pwd">Bitte geben Sie das Passwort ein:</label>
              <input type="password" id="pwd" name="pwd" class="form-control" required>
              <div class="invalid-feedback">
                Bitte angeben!
              </div>
            </div>
            <div class="form-group">
              <label for="uuid">Bitte geben Sie hier die UUID der abzuholenden Mail ein (wird beim Senden über die Pipeline-Operation "Senden" als Header in die Mail geschrieben):</label>
              <input type="text" id="uuid" name="uuid" class="form-control">
            </div>
            <div class="form-group">
              <label for="messageId">Alternativ können Sie hier auch die Message-ID eingeben:</label>
              <input type="text" id="messageId" name="messageId" class="form-control">
            </div>
            <div class="form-group form-check">
              <input type="checkbox" class="form-check-input" id="deleteMessage" name="deleteMessage">
              <label class="form-check-label" for="deleteMessage">Empfangene Mails löschen?</label>
            </div>
            <div class="container-fluid p-0 mb-2">
              <div class="row justify-content-start">
                <div class="col-12 col-md-6 col-lg-3">
                  <button class="btn btn-primary btn-block" onclick="pipelineoperationtestOpAusfuehren()">Ausführen</button>
                </div>
              </div>
            </div>
            <div class="mt-2 mb-2 text-break" role="alert" style="display:none" id="opFormResult">
            </div>
            <div class="alert alert-danger mt-2 mb-2 text-break" role="alert" style="display:none" id="opFormError">
            </div>
        </form>
    </div>
</div>
