server:
  servlet:
    context-path: /
  port: 8080
  error:
    include-stacktrace: always


versions:
  #openKim version set by pom.xml project version
  openKim: '@project.version@'
  ProduktTypVersion: '1.5.0-2'

konfiguration:
  gatewayHostDefaultWert: 127.0.0.1
  smtpGatewayPortDefaultWert: 8888
  pop3GatewayPortDefaultWert: 8889
  encryptionKeys: qwzwebnjcv5461237884,fgjnkfnkndfk,tgzjnbdnbjdfngj,dkgfjgkfjgkjfgkfxccnv,rfughnvvcnbfjgjvnxcbn
  encryptPasswords: true

pipeline:
  scanPackages: net.sberg.openkim.pipeline.operation

gatewaykeystore:
  password: 123!sberg!456

spring:
  main:
    allow-bean-definition-overriding: true
  ldap:
    base: dc=data,dc=vzd

security:
  authFile: "data/auth.cfg"
  users:
    - username: admin
      password: "admin"
      authorities: ROLE_ADMIN
    - username: monitoring
      password: "monitoring"
      authorities: ROLE_MONITORING

---

spring:
  config.activate.on-profile: dev

server:
  servlet:
    context-path: /openkim
