<div class="row" xmlns:th="http://www.thymeleaf.org">
    <div class="col-12 p-0">
        <div class="mt-2 mb-2 text-break">
            Hier kann eine Maildatei hochgeladen werden. Die Datei wird analysiert. Sie können spielerisch die Ersetzung
            von Mimebodyparts mit KAS-Mimebodys simulieren,
            indem Sie eine maximale Attachmentgröße angeben.
        </div>
    </div>
    <div th:if="${fehler}" class="col-sm-8 col-lg-12 mb-3 p-0 pr-1" style="color:red">
        <span>Beim Analysieren ist ein Fehler aufgetreten</span>
    </div>
    <div th:if="${!logs.trim().isEmpty()}" class="col-sm-8 col-lg-12 mb-3 p-0 pr-1">
        <span class="font-weight-bold">Logs/Performancelogs</span>
        <span th:utext="${logs}"></span>
    </div>
</div>
<div class="row">
    <div class="col-12 p-0">
        <form id="mailanalyzerForm" xmlns:th="http://www.thymeleaf.org" onsubmit="return false;"
              enctype="multipart/form-data">

            <input type="hidden" id="id" name="id" th:value="${result.id}">
            <input type="hidden" id="mailFilename" name="mailFilename" th:value="${result.mailFilename}">
            <input type="hidden" id="mailContent" name="mailContent" th:value="${result.mailContent}">

            <div class="row">
                <div class="col-12 col-lg-12">
                    <div class="card mb-2">
                        <div class="card-body">
                            <h5 class="card-title">Mail</h5>

                            <div class="form-group">
                                <label for="mailFilename">Datei</label>
                                <input type="file" class="form-control-file" id="mailFile" name="mailFile">
                                <span th:if="${result.mailFilename != null}" th:text="${result.mailFilename}">mailFilename</span>
                            </div>

                            <div id="accordion">
                                <div th:if="${result.mailContent != null}">
                                    <div class="card-header" id="headingCollapseOriginMail">
                                        <h5 class="mb-0">
                                            <button class="btn btn-link" data-toggle="collapse"
                                                    data-target="#collapseOriginMail" aria-expanded="true"
                                                    aria-controls="collapseOriginMail">
                                                Anzeige der Originalmail
                                            </button>
                                        </h5>
                                    </div>
                                    <div id="collapseOriginMail" class="collapse"
                                         aria-labelledby="headingCollapseOriginMail" data-parent="#accordion">
                                        <pre th:text="${result.mailContent}"></pre>
                                    </div>
                                </div>
                                <div th:if="${result.mailAnalyzedContent != null}">
                                    <div class="card-header" id="headingCollapseAnalyzedMail">
                                        <h5 class="mb-0">
                                            <button class="btn btn-link" data-toggle="collapse"
                                                    data-target="#collapseAnalyzedMail" aria-expanded="true"
                                                    aria-controls="collapseAnalyzedMail">
                                                Anzeige der analysierten Mail
                                            </button>
                                        </h5>
                                    </div>
                                    <div id="collapseAnalyzedMail" class="collapse"
                                         aria-labelledby="headingCollapseAnalyzedMail" data-parent="#accordion">
                                        <pre th:text="${result.mailAnalyzedContent}"></pre>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="container-fluid p-0 mb-2">
                    <div class="row justify-content-start">
                        <div class="col-12 col-md-6 col-lg-3">
                            <button class="btn btn-primary btn-block" onclick="mailanalyzerLaden()">Analysieren</button>
                        </div>
                    </div>
                </div>
                <div class="alert alert-danger mt-2 mb-2 text-break" role="alert" style="display:none"
                     id="mailanalyzerFormError">
                </div>
        </form>
    </div>
</div>
