<div class="row" xmlns:th="http://www.thymeleaf.org">
    <div class="col-12 p-0">
        <div class="mt-2 mb-2 text-break">
            Hier kann das Senden und Empfangen einer Mail getestet werden
        </div>
    </div>
    <div th:if="${fehler}" class="col-sm-8 col-lg-12 mb-3 p-0 pr-1" style="color:red">
        <span>Beim Senden/Empfangen ist ein Fehler aufgetreten</span>
    </div>
    <div th:if="${!logs.trim().isEmpty()}" class="col-sm-8 col-lg-12 mb-3 p-0 pr-1">
        <span class="font-weight-bold">Logs/Performancelogs</span>
        <span th:utext="${logs}"></span>
    </div>
</div>
<div class="row">
    <div class="col-12 p-0">
        <form id="sendreceiveForm" xmlns:th="http://www.thymeleaf.org" onsubmit="return false;"
              enctype="multipart/form-data">

            <input type="hidden" id="id" name="id" th:value="${result.id}">

            <div class="row">
                <div class="col-12 col-lg-12">
                    <div class="card mb-2">
                        <div class="card-body">
                            <h5 class="card-title">Mail</h5>

                            <div class="form-group needs-validation">
                                <label for="username">Benutzername</label>
                                <input type="text" class="form-control" id="username" name="username"
                                       th:value="${result.username}">
                            </div>

                            <div class="form-group needs-validation">
                                <label for="password">Passwort</label>
                                <input type="password" th:value="${result.password}" class="form-control" id="password"
                                       name="password">
                            </div>
                            <div class="form-group form-check">
                                <input type="checkbox" class="form-check-input" id="passwordCheck"
                                       onclick="togglePwdVisibility('password')">
                                <label class="form-check-label" for="passwordCheck">Passwort in Klartext
                                    anzeigen</label>
                            </div>

                            <div class="form-group">
                                <label for="mailFile">Maildatei</label>
                                <input type="file" class="form-control-file" id="mailFile" name="mailFile">
                                <span th:if="${result.mailFilename != null}" th:text="${result.mailFilename}">mailFilename</span>
                            </div>

                            <div class="form-group needs-validation">
                                <label for="konnektorId">Auswahl des Konnektors</label>
                                <select class="form-control" id="konnektorId" name="konnektorId" required>
                                    <option th:each="konn : ${konnektoren}" th:value="${konn.uuid}" th:text="${konn.ip}"
                                            th:attrappend="selected=${konn.uuid.equals(result.konnektorId)?'selected':''}"></option>
                                </select>
                            </div>

                            <div id="accordion">
                                <div th:if="${result.getReceivedMails() != null && result.getReceivedMails().size() > 0}">
                                    <div class="card-header" id="headingCollapseReceivedMails">
                                        <h5 class="mb-0">
                                            <button class="btn btn-link" data-toggle="collapse"
                                                    data-target="#collapseReceivedMails" aria-expanded="true"
                                                    aria-controls="collapseReceivedMails">
                                                Anzeige der empfangenen Mail
                                            </button>
                                        </h5>
                                    </div>
                                    <div id="collapseReceivedMails" class="collapse ml-"
                                         aria-labelledby="headingCollapseReceivedMails" data-parent="#accordion">
                                        <div class="card-body" th:each="receivedMail : ${result.getReceivedMails()}">
                                            <pre th:text="${receivedMail}"></pre>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="container-fluid p-0 mb-2">
                <div class="row justify-content-start">
                    <div class="col-12 col-md-6 col-lg-3">
                        <button class="btn btn-primary btn-block" onclick="sendreceiveLaden(true,false)">Senden von
                            Testmails
                        </button>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3">
                        <button class="btn btn-primary btn-block" onclick="sendreceiveLaden(false,true)">Empfangen von
                            Testmails
                        </button>
                    </div>
                </div>
            </div>
            <div class="alert alert-danger mt-2 mb-2 text-break" role="alert" style="display:none"
                 id="sendreceiveFormError">
            </div>
        </form>
    </div>
</div>
