<div class="row" xmlns:th="http://www.thymeleaf.org">
    <div class="col-sm-8 col-lg-7 mb-3 p-0 pr-1">
        <span style="font-weight: bold">Ausführen des Webservices, um Kartenterminals am Konnektor </span><span
            style="font-weight: bold" th:text="${konnektor.ip}">ID</span>
        <span style="font-weight: bold"> abzufragen</span>
    </div>
</div>
<div class="row">
    <div class="col-12 p-0">
        <form id="cardTerminalForm" xmlns:th="http://www.thymeleaf.org" onsubmit="return false;">

            <input type="hidden" id="konnId" name="konnId" th:value="${konnId}">
            <input type="hidden" id="wsId" name="wsId" th:value="${wsId}">

            <div class="row">
                <div class="col-12 col-lg-6">
                    <div class="card mb-2">
                        <div class="card-body">
                            <h5 class="card-title">Terminalinformationen</h5>

                            <div class="form-group needs-validation">
                                <label for="ctId">Kartenterminal-ID</label>
                                <input type="text" class="form-control" id="ctId" name="ctId" required>
                                <div class="invalid-feedback">
                                    Bitte angeben!
                                </div>
                            </div>

                            <div class="form-group needs-validation">
                                <label for="slotId">Slot-ID</label>
                                <input type="number" class="form-control" id="slotId" name="slotId" required>
                                <div class="invalid-feedback">
                                    Bitte angeben!
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="container-fluid p-0 mb-2">
                <div class="row justify-content-start">
                    <div class="col-12 col-md-6 col-lg-6 pb-1">
                        <button class="btn btn-secondary btn-block" th:attr="data-konnid=${konnId}"
                                onclick="konnektorLaden($(this).attr('data-konnid'));">Zurück zu den
                            Konnektoreinstellungen
                        </button>
                    </div>
                    <div class="col-12 col-md-6 col-lg-2">
                        <button class="btn btn-primary btn-block"
                                onclick="konnWebserviceAusfuehren('cardTerminalForm')">Ausführen
                        </button>
                        <div class="spinner-border" role="status" style="display: none">
                            <span class="sr-only">Laden...</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="alert alert-danger mt-2 mb-2 text-break" role="alert" style="display:none"
                 id="cardTerminalFormError">
            </div>

            <div class="mt-2 mb-2 text-break font-weight-bold" style="display:none" id="cardTerminalFormResult">
            </div>
        </form>
    </div>
</div>
