<div class="row" xmlns:th="http://www.thymeleaf.org">
    <div class="col-sm-8 col-lg-7 mb-3 p-0 pr-1">
        <span style="font-weight: bold">Ausführen des Webservices, um Zertifikate zu lesen und zu verifizieren am Konnektor </span><span
            style="font-weight: bold" th:text="${konnektor.ip}">ID</span>
        <span>Es können folgende Zertifikate gelesen werden. Einzutragen beim Zertifikatstyp
      <ul>
        <li>C.AUT</li>
        <li>C.ENC</li>
        <li>C.SIG</li>
        <li>C.QES</li>
      </ul>
    </span>
    </div>
</div>
<!-- readCertficateForm -->
<div class="row">
    <div class="col-12 p-0">
        <form id="readCertficateForm" xmlns:th="http://www.thymeleaf.org" onsubmit="return false;">

            <input type="hidden" id="konnId" name="konnId" th:value="${konnId}">
            <input type="hidden" id="wsId" name="wsId" th:value="${wsId}">
            <input type="hidden" id="opId" name="opId" value="OpenKIM.ReadCardCertificate">

            <div class="row">
                <div class="col-12 col-lg-6">
                    <div class="card mb-2">
                        <div class="card-body">
                            <h5 class="card-title">Lesen von Kartenzertifikaten</h5>

                            <div class="form-group needs-validation">
                                <label for="cardHandle">Karten-Handle</label>
                                <input type="text" class="form-control" id="cardHandle" name="cardHandle" required>
                                <div class="invalid-feedback">
                                    Bitte angeben!
                                </div>
                            </div>

                            <div class="form-group needs-validation">
                                <label for="certRefList">Zertifikatstypen (C.AUT,C.ENC,C.SIG,C.QES) (Mehrfachnennung
                                    möglich, bitte mit Komma trennen)</label>
                                <input type="text" class="form-control" id="certRefList" name="certRefList" required>
                                <div class="invalid-feedback">
                                    Bitte angeben!
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="container-fluid p-0 mb-2">
                <div class="row justify-content-start">
                    <div class="col-12 col-md-6 col-lg-6 pb-1">
                        <button class="btn btn-secondary btn-block" th:attr="data-konnid=${konnId}"
                                onclick="konnektorLaden($(this).attr('data-konnid'));">Zurück zu den
                            Konnektoreinstellungen
                        </button>
                    </div>
                    <div class="col-12 col-md-6 col-lg-2">
                        <button class="btn btn-primary btn-block"
                                onclick="konnWebserviceAusfuehren('readCertficateForm')">Ausführen
                        </button>
                        <div class="spinner-border" role="status" style="display: none">
                            <span class="sr-only">Laden...</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="alert alert-danger mt-2 mb-2 text-break" role="alert" style="display:none"
                 id="readCertficateFormError">
            </div>

            <div class="mt-2 mb-2 text-break font-weight-bold" style="display:none" id="readCertficateFormResult">
            </div>
        </form>
    </div>
</div>
<!-- verifyCertficateForm -->
<div class="row">
    <div class="col-12 p-0">
        <form id="verifyCertficateForm" xmlns:th="http://www.thymeleaf.org" onsubmit="return false;">

            <input type="hidden" name="konnId" th:value="${konnId}">
            <input type="hidden" name="wsId" th:value="${wsId}">
            <input type="hidden" name="opId" value="OpenKIM.VerifyCertificate">

            <div class="row">
                <div class="col-12 col-lg-6">
                    <div class="card mb-2">
                        <div class="card-body">
                            <h5 class="card-title">Verifizieren von Zertifikatsinhalt</h5>

                            <div class="form-group needs-validation">
                                <label for="certContent">Zertifikatsinhalt</label>
                                <textarea type="text" class="form-control" id="certContent" name="certContent" required
                                          rows="4"></textarea>
                                <div class="invalid-feedback">
                                    Bitte angeben!
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="container-fluid p-0 mb-2">
                <div class="row justify-content-start">
                    <div class="col-12 col-md-6 col-lg-6 pb-1">
                        <button class="btn btn-secondary btn-block" th:attr="data-konnid=${konnId}"
                                onclick="konnektorLaden($(this).attr('data-konnid'));">Zurück zu den
                            Konnektoreinstellungen
                        </button>
                    </div>
                    <div class="col-12 col-md-6 col-lg-2">
                        <button class="btn btn-primary btn-block"
                                onclick="konnWebserviceAusfuehren('verifyCertficateForm')">Ausführen
                        </button>
                        <div class="spinner-border" role="status" style="display: none">
                            <span class="sr-only">Laden...</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="alert alert-danger mt-2 mb-2 text-break" role="alert" style="display:none"
                 id="verifyCertficateFormError">
            </div>

            <div class="mt-2 mb-2 text-break font-weight-bold" style="display:none" id="verifyCertficateFormResult">
            </div>
        </form>
    </div>
</div>
