<div class="row" xmlns:th="http://www.thymeleaf.org">
    <div class="col-sm-8 col-lg-7 mb-3 p-0 pr-1">
        <span style="font-weight: bold">Verschlüsseln und Entschlüsseln von Dokumenten am Konnektor </span><span
            style="font-weight: bold" th:text="${konnektor.ip}">ID</span>
    </div>
</div>
<!-- decryptDocumentForm -->
<div class="row">
    <div class="col-12 p-0">
        <form id="decryptDocumentForm" xmlns:th="http://www.thymeleaf.org" onsubmit="return false;">

            <input type="hidden" id="konnId" name="konnId" th:value="${konnId}">
            <input type="hidden" id="wsId" name="wsId" th:value="${wsId}">
            <input type="hidden" id="opId" name="opId" value="OpenKIM.DecryptDocument">

            <div class="row">
                <div class="col-12 col-lg-6">
                    <div class="card mb-2">
                        <div class="card-body">
                            <h5 class="card-title">Entschlüsseln von einem Dokument</h5>

                            <div class="form-group needs-validation">
                                <label for="cardHandle">Kartenhandle</label>
                                <input type="text" class="form-control" id="cardHandle" name="cardHandle" required>
                                <div class="invalid-feedback">
                                    Bitte angeben!
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="originDocument">Originaldokument</label>
                                <textarea type="text" class="form-control" id="originDocument" name="originDocument"
                                          rows="4"></textarea>
                            </div>

                            <div class="form-group">
                                <label for="base64Document">Dokument im Base64-Format</label>
                                <textarea type="text" class="form-control" id="base64Document" name="base64Document"
                                          rows="4"></textarea>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="container-fluid p-0 mb-2">
                <div class="row justify-content-start">
                    <div class="col-12 col-md-6 col-lg-6 pb-1">
                        <button class="btn btn-secondary btn-block" th:attr="data-konnid=${konnId}"
                                onclick="konnektorLaden($(this).attr('data-konnid'));">Zurück zu den
                            Konnektoreinstellungen
                        </button>
                    </div>
                    <div class="col-12 col-md-6 col-lg-2">
                        <button class="btn btn-primary btn-block"
                                onclick="konnWebserviceAusfuehren('decryptDocumentForm')">Ausführen
                        </button>
                        <div class="spinner-border" role="status" style="display: none">
                            <span class="sr-only">Laden...</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="alert alert-danger mt-2 mb-2 text-break" role="alert" style="display:none"
                 id="decryptDocumentFormError">
            </div>

            <div class="mt-2 mb-2 text-break font-weight-bold" style="display:none" id="decryptDocumentFormResult">
            </div>
        </form>
    </div>
</div>
<!-- encryptDocumentForm -->
<div class="row">
    <div class="col-12 p-0">
        <form id="encryptDocumentForm" xmlns:th="http://www.thymeleaf.org" onsubmit="return false;">

            <input type="hidden" name="konnId" th:value="${konnId}">
            <input type="hidden" name="wsId" th:value="${wsId}">
            <input type="hidden" name="opId" value="OpenKIM.EncryptDocument">

            <div class="row">
                <div class="col-12 col-lg-6">
                    <div class="card mb-2">
                        <div class="card-body">
                            <h5 class="card-title">Verschlüsseln von einem Dokument</h5>

                            <div class="form-group needs-validation">
                                <label for="cardHandle">Kartenhandle</label>
                                <input type="text" class="form-control" name="cardHandle" required>
                                <div class="invalid-feedback">
                                    Bitte angeben!
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="document">Dokument</label>
                                <textarea type="text" class="form-control" id="document" name="document"
                                          rows="4"></textarea>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="container-fluid p-0 mb-2">
                <div class="row justify-content-start">
                    <div class="col-12 col-md-6 col-lg-6 pb-1">
                        <button class="btn btn-secondary btn-block" th:attr="data-konnid=${konnId}"
                                onclick="konnektorLaden($(this).attr('data-konnid'));">Zurück zu den
                            Konnektoreinstellungen
                        </button>
                    </div>
                    <div class="col-12 col-md-6 col-lg-2">
                        <button class="btn btn-primary btn-block"
                                onclick="konnWebserviceAusfuehren('encryptDocumentForm')">Ausführen
                        </button>
                        <div class="spinner-border" role="status" style="display: none">
                            <span class="sr-only">Laden...</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="alert alert-danger mt-2 mb-2 text-break" role="alert" style="display:none"
                 id="encryptDocumentFormError">
            </div>

            <div class="mt-2 mb-2 text-break font-weight-bold" style="display:none" id="encryptDocumentFormResult">
            </div>
        </form>
    </div>
</div>
<!-- encryptMailForm -->
<div class="row">
    <div class="col-12 p-0">
        <form id="encryptMailForm" xmlns:th="http://www.thymeleaf.org" onsubmit="return false;">

            <input type="hidden" name="konnId" th:value="${konnId}">
            <input type="hidden" name="wsId" th:value="${wsId}">
            <input type="hidden" name="opId" value="OpenKIM.EncryptMail">

            <div class="row">
                <div class="col-12 col-lg-6">
                    <div class="card mb-2">
                        <div class="card-body">
                            <h5 class="card-title">Verschlüsseln von einer signierten Mail</h5>

                            <div class="form-group needs-validation">
                                <label for="to">Empfänger-Mail-Adresse</label>
                                <input type="text" class="form-control" id="to" name="to" required>
                                <div class="invalid-feedback">
                                    Bitte angeben!
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="signedMail">Signierte Mail</label>
                                <textarea type="text" class="form-control" id="signedMail" name="signedMail"
                                          rows="4"></textarea>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="container-fluid p-0 mb-2">
                <div class="row justify-content-start">
                    <div class="col-12 col-md-6 col-lg-6 pb-1">
                        <button class="btn btn-secondary btn-block" th:attr="data-konnid=${konnId}"
                                onclick="konnektorLaden($(this).attr('data-konnid'));">Zurück zu den
                            Konnektoreinstellungen
                        </button>
                    </div>
                    <div class="col-12 col-md-6 col-lg-2">
                        <button class="btn btn-primary btn-block" onclick="konnWebserviceAusfuehren('encryptMailForm')">
                            Ausführen
                        </button>
                        <div class="spinner-border" role="status" style="display: none">
                            <span class="sr-only">Laden...</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="alert alert-danger mt-2 mb-2 text-break" role="alert" style="display:none"
                 id="encryptMailFormError">
            </div>

            <div class="mt-2 mb-2 text-break font-weight-bold" style="display:none" id="encryptMailFormResult">
            </div>
        </form>
    </div>
</div>
