<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="sberg">
  <meta name="_csrf" th:content="${_csrf.token}"/>
  <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
  <title>OpenKIM - Nutzer Einstellungen</title>
  <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
  <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
  <script type="text/javascript" th:src="@{/js/script.js}"></script>
  <script type="text/javascript" th:src="@{/webjars/feather-icons/dist/feather.min.js}"></script>
  <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
  <link rel="stylesheet" th:href="@{/css/dashboard.css}"/>
  <th:block th:replace="~{fragments/general-head :: general_head}"></th:block>
</head>
<body>
<nav th:replace="~{fragments/navbar :: navbar}"></nav>
<div th:replace="~{fragments/menue :: menue}"></div>
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h1 class="h2">Benutzereinstellungen</h1>
  </div>
  <div class="spinner-border" id="openkim-spinner" role="status" style="display: none">
    <span class="sr-only">Laden...</span>
  </div>

  <div class="row">
    <div class="col-12 col-lg-6">
      <div class="card mb-2">
        <div class="card-body">
          <h5 class="card-title">Passwort ändern. Bitte beachten! Es gibt nur zwei Nutzer. Die Nutzernamen sind standardmäßig admin und monitoring. Die Namen können bei der Installation geändert worden sein.</h5>

          <div class="container-fluid" id="changePwdFormContainer" th:action="@{/}">
            <form id="changePwdForm" xmlns:th="http://www.thymeleaf.org" onsubmit="return false;">

              <div class="form-group needs-validation">
                <label for="username">Nutzername</label>
                <input type="text" class="form-control" id="username" name="username" required>
                <div class="invalid-feedback">
                  Bitte angeben!
                </div>
              </div>

              <div class="form-group needs-validation">
                <label for="oldPwd">Altes Passwort</label>
                <input type="password" class="form-control" id="oldPwd" name="oldPwd" required>
                <div class="invalid-feedback">
                  Bitte angeben!
                </div>
              </div>
              <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="oldPwdCheck" onclick="togglePwdVisibility('oldPwd')">
                <label class="form-check-label" for="oldPwdCheck">Altes Passwort in Klartext anzeigen</label>
              </div>
              <br/>

              <div class="form-group needs-validation">
                <label for="newPwd">Neues Passwort</label>
                <input type="password" class="form-control" id="newPwd" name="newPwd" required>
                <div class="invalid-feedback">
                  Bitte angeben!
                </div>
              </div>
              <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="newPwdCheck" onclick="togglePwdVisibility('newPwd')">
                <label class="form-check-label" for="newPwdCheck">Neues Passwort in Klartext anzeigen</label>
              </div>
              <br/>

              <div class="container-fluid p-0 mb-2">
                <div class="row justify-content-start">
                  <div class="col-12 col-md-6 col-lg-6">
                    <button class="btn btn-primary btn-block" type="button" onclick="$('#confirmDialog4ChangePwd').modal('show')">Ändern</button>
                  </div>
                </div>
              </div>

              <div class="alert alert-danger mt-2 mb-2 text-break" role="alert" style="display:none" id="changePwdFormError">
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
<!-- Bestätigungsdialog Passwort ändern -->
<div class="modal fade" id="confirmDialog4ChangePwd" tabindex="-1" role="dialog" aria-labelledby="confirmDialog4ChangePwdLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="confirmDialog4ChangePwdLabel">Passwort ändern</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Schließen">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Wollen Sie das Passwort wirklich ändern? Sie werden nach erfolgreicher Änderung automatisch vom System abgemeldet.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Schließen</button>
        <button type="button" class="btn btn-primary" onclick="changeUserPwd()">Ändern</button>
      </div>
    </div>
  </div>
</div>
<script>
  $( document ).ready(function() {
    feather.replace();
  });
</script>
</body>
</html>