<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav id="navbar" th:fragment="navbar" class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
    <div class="logo">
        <a class="navbar-brand ml-2" href="#">
            OpenKim <span th:text="${@environment.getProperty('app.version')}"></span>
            &nbsp;&nbsp;&nbsp;Produkttypversion 1.5.0-2
        </a>
    </div>
    <button
            class="navbar-toggler d-md-none mr-2"
            type="button"
            data-toggle="collapse"
            data-target="#sidebar"
            aria-controls="sidebar"
            aria-expanded="false"
            aria-label="Toggle navigation"
    >
        <span class="navbar-toggler-icon"></span>
    </button>
</nav>
</body>
</html>
