<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="sberg">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title>OpenKIM - SMTP Gateway Logs</title>
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/script.js}"></script>
    <script th:src="@{/webjars/feather-icons/dist/feather.min.js}"></script>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/dashboard.css}"/>
</head>
<body>
<nav th:replace="~{fragments/navbar :: navbar}"></nav>
<div th:replace="~{fragments/menue :: menue}"></div>
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h1 class="h2">SMTP Gateway Logs</h1>
    </div>
    <div class="spinner-border" id="openkim-spinner" role="status" style="display: none">
        <span class="sr-only">Laden...</span>
    </div>
    <div class="container-fluid" id="logContainer" th:action="@{/}">
    </div>
</main>
<script>
    feather.replace();
    logUebersicht('SMTP');
</script>
</body>
</html>
