<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="sberg">
  <meta name="_csrf" th:content="${_csrf.token}"/>
  <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
  <title>OpenKIM - Testtool - Senden und Empfangen einer Mail</title>
  <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
  <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
  <script type="text/javascript" th:src="@{/js/script.js}"></script>
  <script th:src="@{/webjars/feather-icons/dist/feather.min.js}"></script>
  <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
  <link rel="stylesheet" th:href="@{/css/dashboard.css}"/>
  <th:block th:replace="~{fragments/general-head :: general_head}"></th:block>
</head>
<body>
<table>
  <tr>
    <td>Date</td>
    <td th:text="${timestamp}"/>
  </tr>
  <tr>
    <td>Path</td>
    <td th:text="${path}"/>
  </tr>
  <tr>
    <td>Error</td>
    <td th:text="${error}"/>
  </tr>
  <tr>
    <td>Status</td>
    <td th:text="${status}"/>
  </tr>
  <tr>
    <td>Message</td>
    <td th:text="${message}"/>
  </tr>
  <tr>
    <td>Exception</td>
    <td th:text="${exception}"/>
  </tr>
  <tr>
    <td>Trace</td>
    <td>
      <pre th:text="${trace}"/>
    </td>
  </tr>
</table>
</body>
</html>